<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>addcart.AddCart</servlet-class>
  </servlet>
  
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCart1</servlet-name>
    <servlet-class>addcart.AddCart1</servlet-class>
  </servlet>

   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>addcart.SignUp</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>admin.AdminValidation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCart</servlet-name>
    <servlet-class>addcart.DeleteCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>addcart.Payment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>addcart.ContactUs</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>addcart.CheckOut</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SpecialCart</servlet-name>
    <servlet-class>addcart.SpecialCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteSpecialCart</servlet-name>
    <servlet-class>addcart.DeleteSpecialCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Compare</servlet-name>
    <servlet-class>addcart.Compare</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCompareCart</servlet-name>
    <servlet-class>addcart.DeleteCompareCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>addcart.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddCart1</servlet-name>
    <url-pattern>/AddCart1</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/DeleteCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpecialCart</servlet-name>
    <url-pattern>/SpecialCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSpecialCart</servlet-name>
    <url-pattern>/DeleteSpecialCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Compare</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCompareCart</servlet-name>
    <url-pattern>/DeleteCompareCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
 

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>